$fonts: "Inter", sans-serif;
$primary-color: #3b5d50;
$secondary-color: #f9bf29;
$text-color: #2f2f2f;
$button-color: #2f2f2f;
$spacing: 2rem;
$icon-color: white;
$icon-size: 24px;
$active-text-color: #ffffff;
$inactive-text-color: #718980;
$active-bar-color: #f9bf29;
$button-text-primary-color: #2f2f2f;
$button-primary-color: #ffc107;
$button-text-secondary-color: #ffffff;
$button-secondary-color: transparent;
