@import "variables";
@import "mixins";

@keyframes slideLeftToRight {
	from {
		width: 0%;
	}
	to {
		width: 100%;
	}
}

body {
	width: 100%;
	margin: auto !important;
	line-height: 28px;
	font-family: $fonts;
	font-weight: 400;
	font-size: 14px;
	padding-bottom: 5rem;
}

.wrapper {
	width: 100%;
	margin: 0 auto;
}

.head {
	background-color: $primary-color;

	&__content {
		@include content-wrapper;

		&-navigation {
			display: flex;
			justify-content: space-between;
			align-items: center;
			height: 25%;

			&-logo {
				@include logo;
				cursor: pointer;

				span {
					opacity: 0.4;
				}
			}

			&-menu {
				@include flex-center;
				gap: 2.5rem;
				color: $inactive-text-color;
				cursor: pointer;

				&-item {
					position: relative;

					&.active,
					&:hover {
						color: white;
					}

					&.active::after,
					&:hover::after {
						content: "";
						position: absolute;
						bottom: -10px;
						left: 0;
						height: 5px;
						background-color: $active-bar-color;
						width: 100%;
					}

					&:hover::after {
						animation: slideLeftToRight 0.5s ease-in-out;
					}

					&.active:hover::after {
						animation: none;
					}
				}

				&-icon {
					margin-left: 3rem;

					&--user {
						@include icon;
						margin-right: 2rem;
					}

					&--cart {
						@include icon;
					}
				}
			}
		}

		&-introduce {
			display: flex;
			justify-content: space-between;
			margin-top: 4rem;

			&-left {
				flex-grow: 1;

				&-title {
					font-size: 60px;
					font-weight: 700;
					line-height: 80px;
					color: #ffffff;
					margin-bottom: 30px;
				}

				&-sub-title {
					@include sub-title($sub-title-main-color);
				}

				&-button {
					margin-top: 1.5rem;

					&-shop {
						@include primary-button;
						margin-right: 1rem;

						&:hover {
							background-color: #f8b810;
						}
					}

					&-explore {
						@include secondary-button;

						&:hover {
							border-color: #fff;
						}
					}
				}
			}

			&-right {
				flex-grow: 2;
				position: relative;

				&::after {
					position: absolute;
					content: "";
					background-image: url("../assets/images/dots-light.svg");
					background-size: contain;
					background-repeat: no-repeat;
					width: 255px;
					height: 217px;
					top: 40px;
					right: -70px;
					z-index: 0;
				}

				&-couch {
					position: relative;
					width: 780px;
					height: 560px;
					z-index: 1;
				}
			}
		}
	}
}

.middle {
	padding-top: 6rem;
	background-color: #eff2f1;

	&__content {
		@include content-wrapper;

		&-product {
			display: flex;
			justify-content: space-between;

			&-left {
				width: 25%;

				&-title {
					@include title($text-color);
					margin-bottom: 1.5rem;
				}

				&-sub-title {
					@include sub-title($sub-title-secondary-color);
				}

				&-button {
					&-explore {
						@include third-button;
						margin-top: 1.5rem;

						&:hover {
							background-color: #212529;
						}
					}
				}
			}

			&-right {
				width: 70%;
				display: flex;
				justify-content: space-between;

				&-overview {
					position: relative;
					display: flex;
					flex-direction: column;
					gap: 2rem;
					justify-content: center;
					align-items: center;
					width: 30%;
					height: fit-content;
					padding-bottom: 2rem;
					cursor: pointer;

					& > * {
						z-index: 1;
					}

					&:hover {
						&::before {
							height: 68%;
						}

						.middle__content-product-right-overview-icon {
							opacity: 1;
							transform: translateY(0);
						}

						.middle__content-product-right-overview-image {
							transform: translateY(-20px);
						}
					}

					&::before {
						content: "";
						position: absolute;
						border-radius: 10px;
						bottom: 0;
						left: 0;
						right: 0;
						height: 0;
						background-color: $shadow-color;
						transition: height 0.3s ease;
						z-index: 0;
					}

					&-title {
						font-weight: 500;
						line-height: 1.2;
						color: $text-color;
					}

					&-price {
						font-weight: 600;
						font-size: 18px;
						line-height: 1.2;
						color: $text-color;
						margin-top: 1.2rem;
					}

					&-price {
						display: block;
						text-align: center;
					}

					&-image {
						width: 306px !important;
						height: 100% !important;

						transition: transform 0.3s ease;
						&:hover {
							transform: translateY(-20px);
						}
					}

					&-icon {
						z-index: 2;
						position: absolute;
						bottom: -4%;
						transform: translateY(-30px);
						display: grid;
						place-items: center;
						width: 35px;
						height: 35px;
						border-radius: 50%;
						background-color: $button-text-primary-color;
						opacity: 0;
						transition: transform 0.3s ease, opacity 0.3s ease;
					}
				}
			}
		}

		&-why {
			display: flex;
			justify-content: space-between;
			gap: 6rem;
			margin-top: 10rem;

			&-left {
				&-title {
					margin-bottom: 3rem;

					&--big {
						@include title($text-color);
						margin-bottom: 1rem;
					}
					&--small {
						@include sub-title($sub-title-secondary-color);
					}
				}

				&-item {
					display: grid;
					grid-template-columns: repeat(2, 1fr);
					gap: 1.5rem;

					&-wrap {
						&-icon {
							position: relative;
							display: inline-block;
							margin-bottom: 12px;

							&::before {
								content: "";
								width: 33px;
								height: 33px;
								position: absolute;
								background: rgba(59, 93, 80, 0.2);
								border-radius: 50%;
								right: -8px;
								bottom: 0;
							}
						}

						&-title {
							font-size: 14px;
							color: #2f2f2f;
						}

						&-des {
							font-size: 14px;
							line-height: 22px;
							color: #6a6a6a;
						}
					}
				}
			}

			&-right {
				&-image {
					position: relative;
					z-index: 1;
					width: 526px;
					height: 602px;

					img {
						border-radius: 20px;
						width: 100%;
					}

					&::before {
						position: absolute;
						content: "";
						width: 255px;
						height: 217px;
						background-image: url("../assets/images/dots-yellow.svg");
						background-repeat: no-repeat;
						background-size: contain;
						transform: translate(-40%, -40%);
						z-index: -1;
					}
				}
			}
		}

		&-benefit {
			margin-top: 12rem;
			display: flex;
			justify-content: space-between;
			gap: 3rem;

			&-left {
				width: 60%;
				// flex-grow: 2;
				position: relative;
				display: grid;
				grid-template-columns: repeat(27, 1fr);

				&::before {
					position: absolute;
					content: "";
					width: 255px;
					height: 217px;
					background-image: url("../assets/images/dots-green.svg");
					background-repeat: no-repeat;
					background-size: contain;
					transform: translate(-40%, -40%);
					z-index: 0;
				}

				& > * {
					z-index: 1;
				}

				&-image-first {
					grid-column: 1 / span 18;
					grid-row: 1 / span 27;

					img {
						width: 100%;
						border-radius: 20px;
					}
				}

				&-image-second {
					grid-column: 19 / span 27;
					grid-row: 1 / span 5;
					padding-left: 20px;

					img {
						width: 100%;
						border-radius: 20px;
					}
				}

				&-image-third {
					grid-column: 14 / span 16;
					grid-row: 6 / span 27;
					padding-top: 20px;

					img {
						width: 100%;
						border-radius: 20px;
					}
				}
			}

			&-right {
				width: 40%;

				&-title {
					&--big {
						@include title($text-color);
						margin-bottom: 1rem;
					}

					&--small {
						@include sub-title($sub-title-secondary-color);
					}
				}

				&-item {
					list-style: none;
					margin: 1.5rem 0;
					display: grid;
					grid-template-columns: repeat(2, 1fr);
					gap: 1.5rem;

					li {
						position: relative;
						line-height: 1.5;
						width: 80%;
						cursor: auto;
						font-size: 14px;
						color: $sub-title-secondary-color;

						&::before {
							content: "";
							width: 8px;
							height: 8px;
							border-radius: 50%;
							border: 2px solid #3b5d50;
							position: absolute;
							left: -24px;
							top: 8px;
						}
					}
				}

				&-button {
					&-explore {
						@include third-button;
						margin-top: 1.5rem;

						&:hover {
							background-color: #212529;
						}
					}
				}
			}
		}

		&-brief {
			margin-top: 10rem;

			&-product {
				display: flex;
				justify-content: space-between;
				gap: 1rem;

				&-item {
					display: flex;
					justify-content: space-between;
					gap: 1rem;

					&-left {
						position: relative;
						width: 40%;
						z-index: 1;

						&::before {
							content: "";
							position: absolute;
							border-radius: 20px;
							background: #dce5e4;
							width: 98px;
							height: 98px;
							top: 30%;
							left: 50%;
							transform: translate(-50%, -50%);
							z-index: -1;
						}

						img {
							width: 100%;
							border-radius: 20px;
						}
					}

					&-right {
						display: flex;
						flex-direction: column;
						align-items: flex-start;

						p {
							line-height: 1.4;
							font-size: 14px;
							color: $sub-title-secondary-color;

							&:last-child {
								color: #2f2f2f;
								transition: 0.3s all ease;

								&:hover {
									color: #6a6a6a;
								}
							}
						}
					}
				}
			}
		}

		&-slide {
			width: 100%;
			margin-top: 10rem;

			h2 {
				text-align: center;
			}

			&-carousel {
				width: 100%;

				&-control-prev {
					position: relative;
					justify-content: flex-start !important;

					&-icon {
						color: #3b5d50 !important;
					}

					&::before {
						content: "";
						position: absolute;
						width: 50px;
						height: 50px;
						background-color: rgba(59, 93, 80, 0.1);
						border-radius: 50%;
						left: -8px;
						top: 50%;
						transform: translateY(-50%);
						z-index: 1;
					}
				}

				&-control-next {
					position: relative;
					justify-content: flex-end !important;

					&::before {
						content: "";
						position: absolute;
						width: 50px;
						height: 50px;
						background-color: rgba(59, 93, 80, 0.1);
						border-radius: 50%;
						left: 78%;
						top: 50%;
						transform: translateY(-50%);
						z-index: 1;
					}
				}
			}
		}
	}
}
